<div class="collection">
  <div *ngFor="let itemCollection of collectionList"
       class="collection__item">
    <img src="{{ itemCollection.headerImage.url ? itemCollection.headerImage.url : '/assets/no-image.png' }}"
        alt="{{ itemCollection.title }}"
        class="collection__item--img"
         (mouseover)="getLongTitle($event)"
         (click)="openDialog(itemCollection.objectNumber)"
    >
    <div class="collection__item--title">
      {{ itemCollection.longTitle }}
    </div>
  </div>
</div>

<mat-paginator [length]=length
               [pageSize]=pageSize
               [pageSizeOptions]=pageSizeOptions
               (page)="pageEvent = getNextPageCollection($event)"
               [pageIndex]="pageNumber - 1"
               >
</mat-paginator>
