@import "src/app/styles/variables";

.collection {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 30px;

  &__item {
    position: relative;
    width: 19%;
    margin: 0 1.25% 20px 0;
    cursor: pointer;

    &:hover .collection__item--title {
      display: block;
    }

    &--img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    &--title {
      width: 100%;
      padding: 5px;
      box-sizing: border-box;
      position: absolute;
      background-color: $secondColor;
      bottom: 6px;
      display: none;
    }
  }
}

.no-favorites {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.8px;
  margin: 40px auto;
}


@media screen and (min-width: 320px) and (max-width: 425px) {
  .collection__item {
    width: 100%;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .collection__item {
    width: 48%;
    margin: 0 4% 20px 0;

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .collection__item {
    width: 32%;
    margin: 0 2% 20px 0;

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 1025px) {
  .collection__item {

    &:nth-of-type(5n) {
      margin-right: 0;
    }
  }
}
