@import "src/app/styles/variables";

.collection {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 15px 0 0 -10px;

  &__item {
    position: relative;
    margin: 0 10px 20px 10px;
    cursor: pointer;

    &--img {
      display: block;
      width: 220px;
      height: 200px;
      object-fit: cover;
    }

    &--title {
      width: 210px;
      padding: 5px;
      background-color: $secondColor;
      position: absolute;
      bottom: 0;
    }
  }
}

.no-favorites {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.8px;
  margin: 40px auto;
}
