<section class="container">
  <app-sort-search-form
    (searchedCollectionEvent)="getSearchedCollection($event)">
  </app-sort-search-form>

  <mat-spinner class="spinner" *ngIf="isDataLoading"></mat-spinner>

  <p *ngIf="!searchedCollectionCount" class="no-data">
    No art object could be found by your query:
    <span class="no-data__query"> {{ query }} </span>
  </p>

  <app-collection-list *ngIf="!isDataLoading"
    [collectionList]="collectionList"
    [length]="length"
    [pageSize]="pageSize"
    [pageNumber]="pageNumber"
    [pageSizeOptions]="pageSizeOptions"
    [query]="query"
    [sortField]="sortField"
    [getNextPageCollection]="getNextPageCollection"
  >
  </app-collection-list>
</section>

